div
  section(x-data="{ mobileNavOpen: false }" class="bg-orange-50")
    nav(class="py-6 border-b hidden md:block shadow-xl ")
      div(class="container mx-auto px-4")
        div(class="relative flex items-center justify-between")
          ul(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden md:flex")
            li(class="mr-8")
              a(class="inline-block text-black hover:text-principal font-medium" href="/inicio") Inicio
            li(class="mr-8")
              a(class="inline-block text-black hover:text-principal font-medium" href="/revistas") Revistas 
            li(class="mr-8")
              a(class="inline-block text-black hover:text-principal font-medium" href="/quienes-somos") ¿Quienes somos?
            li(class="mr-8")
              a(class="inline-block text-black hover:text-principal font-medium" href="/noticias") Noticias
            li(class="mr-8")
              a(class="inline-block text-black hover:text-principal font-medium" href="/contacto") Contacto