/* styles.css */
:root {
    --color-principal: #32c0cd; /* Valor por defecto */
    --color-texto-primario: #32c0cd; /* Valor por defecto */
    --color-texto-secundario: #32c0cd; /* Valor por defecto */
}