extends ../layout/administrador

block contenido
    // Contenido dinámico
    div(class="bg-white p-6 rounded-lg shadow")
        h2(class="text-2xl text-center font-bold mb-4") Bienvenido al Panel de Administración