doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Crisol | #{pagina}
        block styles
        style.
            #{styles}
        link(rel="stylesheet" href="/css/app.css")
        link(rel="icon" href="/img/crisol.jpg")
        script(src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js" defer="defer")

    body.bg-gray-100
        include includes/header-app
        include includes/nav-app 
        
        // Slider con margen negativo para que el contenido se superponga
        if barra 
            div(class="relative -mb-3 sm:-mb-3")  
                include includes/slider

        // Contenido principal con z-index para que aparezca sobre el slider
        main(class="container mx-auto px-4 relative z-10")
            block contenido

        script(src="/js/slider.js")